
Properties/AssemblyInfo.cs
Properties/Settings.Designer.cs
Properties/Settings.settings
Properties/Resources.resx
Properties/Resources.Designer.cs
.vs/PasswordManagementSystem/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
App.config
bin/Debug/PasswordManagementSystem.exe
bin/Debug/PasswordManagementSystem.exe.config
bin/Debug/PasswordManagementSystem.pdb
obj/Debug/PasswordManagementSystem.csproj.FileListAbsolute.txt
obj/Debug/PasswordManagementSystem.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/PasswordManagementSystem.csproj.GenerateResource.cache
obj/Debug/PasswordManagementSystem.csprojAssemblyReference.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/PasswordManagementSystem.RegisterWindow.resources
obj/Debug/PasswordManagementSystem.Properties.Resources.resources
obj/Debug/PasswordManagementSystem.pdb
obj/Debug/PasswordManagementSystem.LoginWindow.resources
obj/Debug/PasswordManagementSystem.LoginPage.resources
obj/Debug/PasswordManagementSystem.exe
