
.vs/PasswordManagementSystem/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
bin/Debug/PasswordManagementSystem.exe
bin/Debug/PasswordManagementSystem.exe.config
bin/Debug/PasswordManagementSystem.pdb
obj/Debug/PasswordManagementSystem.csproj.FileListAbsolute.txt
obj/Debug/PasswordManagementSystem.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/PasswordManagementSystem.csproj.GenerateResource.cache
obj/Debug/PasswordManagementSystem.csprojAssemblyReference.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/PasswordManagementSystem.RegisterWindow.resources
obj/Debug/PasswordManagementSystem.Properties.Resources.resources
obj/Debug/PasswordManagementSystem.pdb
obj/Debug/PasswordManagementSystem.LoginWindow.resources
obj/Debug/PasswordManagementSystem.LoginPage.resources
obj/Debug/PasswordManagementSystem.exe
.vs/VSWorkspaceState.json
obj/Debug/PasswordManagementSystem.Forms.HomePage.resources
obj/Debug/PasswordManagementSystem.Controls.NewPasswordControl.resources
obj/Debug/PasswordManagementSystem.Controls.FindPasswordControl.resources
obj/Debug/PasswordManagementSystem.Controls.DeletePasswordControl.resources
obj/Debug/PasswordManagementSystem.Controls.UpdatePasswordControl.resources
